root { 
    display: block;
}
/*BEGIN Contest Mode*/
td.contest_selectedProblem{
    background-color: #0B1D29;
    color: #0B1D29;
    font-weight: bold;
}
td.contest_bordeable{
    border-width: 2px;
    border-color: #0B1D29;
    border-style: double;
}
/*BEGIN Contest Mode*/

/*BEGIN Practice Mode*/
td.selectedProblem{
    background-color: #ff9900;
    color: #ffffff;
    font-weight: bold;
}
td.bordeable{
    border-width: 2px;
    border-color: #ff9900;
    border-style: double;
}
/*END Practice Mode*/

label.problemTitle{
    font-size: 14px;
    color: #0066cc;
    font-weight: bold;
}
label.comment{

    font-style: italic;
    color: #959393;
    font-size: 12px;
}
a.headerSelected{

    font-size: 18px;
}
a.header{

    font-size: 12px;
}
