td.tr_LeftCorner {
    background-image: url(../images/bar2_left.png);
    width:4pt;
    height:22px;
}
td.tr_RightCorner{
    background-image: url(../images/bar2_right.png);
    width:4pt;
    height:22px;
}
table.rCTable{    
    border-bottom-width: 1px;
    
    border-top-style: outset;
    border-bottom-style: outset;
    border-left-style: outset;
    border-right-style: outset;
}

td.tr_headerTN{
    /*background-image: url(../images/bar2_middle.png);*/
    background-image: -webkit-linear-gradient(top,#2C3638 0,#E9E9E9 45px);
    background-image: linear-gradient(to bottom,#2C3638 0,#E9E9E9 45px);

    background-color: #2C3638;
    background-image: -moz-linear-gradient(center top , #2C3638 0px, #E9E9E9 45px);

    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    /*border-bottom-left-radius: 3px;*/
    /*border-bottom-right-radius: 3px;*/
    font-size: 10px;
    font-weight: normal;
    color: #DACF54;
    /*color: white;*/
}
td.tr_footerTN{
    /*background-image: url(../images/bar2_middle.png);*/
    background-image: -webkit-linear-gradient(top,#2C3638 0,#E9E9E9 45px);
    background-image: linear-gradient(to bottom,#2C3638 0,#E9E9E9 45px);
    background-color: #2C3638;
    background-image: -moz-linear-gradient(center top , #2C3638 0px, #E9E9E9 45px);
    /*border-bottom-left-radius: 3px;*/
    /*border-bottom-right-radius: 3px;*/
    font-size: 10px;
    font-weight: normal;
    color: #DACF54;
    /*color: white;*/
}

tr.tr_Par{
    border-left-width: 1px;
    border-right-width: 1px;
    background: #F2F2F2;
}
tr.tr_Impar{
    border-left-width: 1px;
    border-right-width: 1px;

    background-color: #ffffff;
}
td.checked_in{
    text-align: center;
}
